@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */
html {
    background-color: #1e325c;
}
body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
}
h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px;
    color: #cccccc;
}
h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
}

/* STRUCTURE */
.info {
    padding: 10px;
}
.providerName {
    font-weight: 700;
    font-size: 18px;
}
.redirectURL {
    padding: 10px 15px;
    font-weight: 700;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

.from {
    display: inline-block;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    width: 90%;
    max-width: 650px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}

/* FORM TYPOGRAPHY*/
input[type=button], input[type=submit], input[type=reset], .cancelButton  {
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, .cancelButton  {
    cursor: pointer;
}

.confirmButton {
    background-color: #1e325c;
}
.confirmButton:hover {
    background-color: #0a2039;
}

.cancelButton {
    background-color: #db0000;
}
.cancelButton:hover {
    background-color: #8c1212;
}

/* OTHERS */
*:focus {
    outline: none;
}

* {
    box-sizing: border-box;
}